<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.harrison.barbuddy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ingredient_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ingredient_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CocktailsDetailsActivity"
            android:label="@string/title_cocktail_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DrinkActivity"
            android:label="@string/title_activity_unicorn_troll"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AboutActivity" />
        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_activity_results"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>